* {
    border: none;
    border-radius: 0;
    /* `ttf-material-design-icons-git` is required to be installed for icons */
    font-family: "Material Design Icons", Lato;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar > box {
    margin: 8px;
    /* background: #1e1e2e; */
    border-radius: 10px;
}

window#waybar.sway-gaps > box {
    margin-bottom: 0;
}

window#waybar.docked > box {
    margin: 0;
    padding: 0 8px;
    background: #1e1e2e;
    border-radius: 0;
}

window#waybar.filled > box {
    background: #1e1e2e;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 10px 0 0 10px;
    transition: none;
    background: #1e1e2e;
}

#workspaces button:first-child {
    margin-left: 6px;
}

#workspaces button {
    border-radius: 0;
    border: 3px solid transparent;
    transition: none;
    color: #585b70;
    background: transparent;
    padding: 4px 0;
    font-size: 14px;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    /* color: #585b70;
    background: #45475a;*/
}

#workspaces button.focused {
    color: #cdd6f4;
}

#workspaces button.focused, #workspaces button:hover {
    border-bottom: 3px solid #b4befe;
}


#window {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #1e1e2e;
    border-radius: 0 10px 10px 0;
}

window#waybar.empty #window {
    padding-right: 8px;
    padding-left: 0;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#mode {
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
    font-family: monospace;
    font-weight: 900;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#pulseaudio {
    padding: 0 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}
/*
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
*/
#custom-mem {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#temperature {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#network {
    margin-left: 8px;
    border-radius: 10px 0 0 10px;
    padding-right: 4px;
    padding-left: 16px;
}

#bluetooth {
    padding-left: 4px;
}

#network, #bluetooth, #custom-bt-battery, #custom-bt-filler {
    background: #1e1e2e;
    color: #ffffff;
}

#custom-bt-filler {
    border-radius: 0 10px 10px 0;
    padding-right: 16px;
}

#backlight {
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#battery {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #f9e2af;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #ffffff;
}

#tray {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

