@define-color bg-color #1e1e2e;
@define-color inactive-workspace-color #45475a;
@define-color accent-color #b4befe;
@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color text-on-light #313244;
@define-color text-on-dark #cdd6f4;
@define-color tooltip-background rgb(17, 17, 27);

* {
    border: none;
    border-radius: 0;
    /*color: @text-on-dark;*/
    /* `ttf-material-design-icons-git` is required to be installed for icons */
    font-family: "Material Design Icons", Lato;
    min-height: 20px;
}

/* remove GTKCSS hover effects */
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

tooltip {
    background: @tooltip-background;
    border-radius: 25px;
}

tooltip label {
    color: @text-on-dark;
    padding: 8px;
}

window#waybar {
    background: transparent;
}

window#waybar > box {
    margin: 8px;
    /* background: @bg-color; */
    border-radius: 64px;
}

window#waybar.sway-gaps > box {
    margin-bottom: 0;
}

window#waybar.docked > box {
    margin: 0;
    padding: 0 8px;
    background: @bg-color;
    border-radius: 0;
}

window#waybar.filled > box {
    background: @bg-color;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 64px 0 0 64px;
    transition: none;
    background: @bg-color;
    padding-left: 12px;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button {
    border-radius: 0;
    border: 3px solid transparent;
    transition: none;
    color: @inactive-workspace-color;
    background: transparent;
    padding: 4px 0;
    font-size: 14px;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    /* color: @inactive-workspace-color;
    background: #45475a;*/
}

#workspaces button.focused {
    color: @text-on-dark;
}

#workspaces button.focused, #workspaces button:hover {
    border-bottom: 3px solid @accent-color;
}


#window {
    color: @text-on-dark;
    padding-left: 16px;
    padding-right: 16px;
    background-color: @bg-color;
    border-radius: 0 64px 64px 0;
}

window#waybar.empty #window {
    padding-right: 16px;
    padding-left: 0;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

#mode {
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
    font-family: monospace;
    font-weight: 900;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

#pulseaudio {
    padding: 0 16px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}
/*
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
*/
#custom-mem {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

#temperature {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

#temperature.critical {
    background-color: @red;
}

#custom-dnd {
    margin-left: 6px;
    border-radius: 5px;
    padding: 0 12px;
}

#network {
    margin-left: 6px;
    border-radius: 5px 0 0 5px;
    padding-right: 4px;
    padding-left: 16px;
}

#custom-vpn {
    padding-right: 4px;
}

#bluetooth {
    padding: 0 0 0 4px;
}

#network, #bluetooth, #custom-bt-battery, #custom-bt-filler, #custom-dnd, #custom-vpn {
    background: @bg-color;
    color: @text-on-dark;
}

#custom-bt-filler {
    border-radius: 0 64px 64px 0;
    padding-right: 16px;
}

#backlight {
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

#battery {
    margin-left: 8px;
    padding: 0 12px 0 16px;
    border-radius: 64px 20px 20px 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

#battery.charging {
    color: @text-on-light;
    background-color: @green;
}

#battery.warning:not(.charging) {
    background-color: @yellow;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text-on-light;
}

#tray {
    margin-left: 8px;
    padding: 0 16px;
    border-radius: 64px;
    transition: none;
    color: @text-on-dark;
    background: @bg-color;
}

